@using WebProject1.Models
@using System.Security.Claims
@model Tuple<HomePageViewModel, bool, int>
@{
    ViewData["Title"] = "UserProfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- burası !!! !!! !!! -->
@if (Model.Item2 == true &&
                          @Model.Item3 == Int32.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value))
{
<div style="display:flex; justify-content:flex-end; width:95%; padding:0;">
    <a asp-controller="Post" asp-action="NewPost" asp-route-id=#
       class="btn btn-success btn-lg" role="button" aria-pressed="true">Yeni Yazı</a>
</div>
}
   
<div class="container">
    <br />
    <br />
    <h1>Profil Bilgileri</h1>
    <div class="row">
        <div class="col-md-12">
            <img style='float:left;width:200px;height:200px; margin-right:10px;' src="~/images/hero_1.jpg" />
            <p>Yazarın kendisi hakkında yazdığı kısa yazı.</p>
        </div>
    </div>
    @if (Model.Item2 == true &&
                          @Model.Item3 == Int32.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value))
    {
        <br />
        <a asp-controller=# asp-action=# asp-route-id=#
           class="btn btn-warning btn-lg" role="button" aria-pressed="true">Profil Resmi Değiştir</a>

        <a asp-controller=# asp-action=# asp-route-id=#
           class="btn btn-warning btn-lg" role="button" aria-pressed="true">Profil Yazısı Değiştir</a>
    }
    <br />
    <br />
</div>
<!-- btn btn-primary btn-lg active -->
<!-- DIVISION 2 -->

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Gönderiler</h2>

            </div>
        </div>
        <div class="row">
            @foreach (var x in Model.Item1.Posts)
            {
                <div class="col-lg-4 mb-4">

                    <div class="entry2">
                        <a asp-controller="Post" asp-action="DisplayPost" asp-route-id="@x.Id"><img src="~/images/img_1.jpg" alt="Image" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="post-category text-white bg-secondary mb-3">@x.City.Name</span>

                            <h2><a asp-controller="Post" asp-action="DisplayPost" asp-route-id="@x.Id">@x.Title</a></h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="~/images/person_1.jpg" alt="Image" class="img-fluid"></figure>
                                <span class="d-inline-block mt-1">By <a href="#">@x.User.Name @x.User.Surname</a></span>
                                <span>&nbsp;-&nbsp; @x.Date</span>
                            </div>
                            <p>
                                @if (@x.Content.Length < 250)
                                {
                                    @for (int i = 0; i < @x.Content.Length; i++)
                                    {@x.Content[@i]}
                                }
                                else
                                {
                                    @for (int i = 0; i < 250; i++)
                                    {@x.Content[@i]}
                                }
                            </p>
                            <p><a asp-controller="Post" asp-action="DisplayPost" asp-route-id="@x.Id">Yazının tamamını oku</a></p>

                        </div>
                    </div>
                </div>
            }

        </div>

        <vc:pages total-item-count="@Model.Item1.TotalItemCount" current-page="@Model.Item1.CurrentPage"
                  item-per-page="@Model.Item1.ItemPerPage" track="3"> </vc:pages>
    </div>
</div>


@if (Model.Item2 == true &&
                          @Model.Item3 == Int32.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimTypes.NameIdentifier).Value))
{
    <div style="display:flex; justify-content:flex-end; width:95%; padding:0;">
        <a asp-controller="User" asp-action="DeleteUser" asp-route-id=@Model.Item3
           class="btn btn-danger btn-lg" role="button" aria-pressed="true">Hesabı Silin</a>
    </div>
}